/* BACKGROUND-COLOR */
@media screen and ( min-width: 1250px){
    body > div:nth-child(odd) > div:first-child{
        background-color: #2B2C2C;
    }
    body > div:nth-child(even) > div:first-child{
        background-color: #292A2A;
    }
    body > div:nth-child(odd) > div:last-child{
        background-color: #2D2E2E;
    }
    body > div:nth-child(even) > div:last-child{
        background-color: #2B2C2C;
    }
}
@media screen and ( max-width: 1250px){
    body > div > div:first-child{
        background-color: #292A2A;
    }
    body > div > div:last-child{
        background-color: #2D2E2E;
    }
}
/* ALL PADDINGS */
@media screen and ( min-width: 600px){
    a[href$="lovalik/myAppJavaScript"],
    a[href$="lovalik/myAppReact"]{
        padding-left: 60px;
    }
}
@media screen and ( min-width: 1250px){
    body > div > div:first-child{
        padding: 75px 75px 0 0;
    }
    body > div:first-child > div:first-child{
        padding: 30px 75px 30px 0;
    }
}
@media screen and ( min-width: 1200px) and ( max-width: 1400px){
    body > div:first-child > div:first-child{
        padding-right: 25px;
    }
}
@media screen and ( min-width: 900px) and ( max-width: 1250px){
    body > div > div:first-child{
        padding: 75px;
    }
}
@media screen and ( min-width: 900px){
    body > div > div:last-child{
        padding: 75px;
    }
}
@media screen and ( min-width: 500px) and ( max-width: 900px){
    body > div > div:last-child{
        padding: 40px 25px;
    }
    body > div > div:first-child{
        padding: 40px 25px;
    }
}
@media screen and ( max-width: 500px){
    body > div > div:last-child{
        padding: 20px 25px;
    }
    body > div > div:first-child{
        padding: 20px 25px;
    }
}
@media screen and ( max-width: 410px){
    body > div:first-child > div:first-child{
        padding: 40px 5px;
    }
}
@media screen and ( max-width: 500px){
    address > div{
        padding: 10px;
    }
}
/* AVATARA */
@media screen and ( min-width: 350px){
    .resume__avatar_wrapper{
        width: 300px;
        height: 300px;
        border-radius: 150px;
    }
    .resume__avatar{
        border-radius: 150px;
    }
}
@media screen and ( max-width: 350px){
    .resume__avatar_wrapper{
        width: 200px;
        height: 200px;
        border-radius: 100px;
    }
    .resume__avatar{
        border-radius: 100px;
    }
}
/* TABLE AND UL */
@media screen and ( min-width: 800px){
    .resume__personal-traits_right-part > ul{
        display: none;
    }
    table{
        width: 750px;
    }
}
@media screen and ( max-width: 800px){
    table{
        display: none;
    }
    .resume__personal-traits_right-part > ul{
        display: block;
        padding-left: 15px;
        font-size: 16px;
    }
}
/* TEXT-ALIGN ___ FLEX-WRAP ____ FLEX-DIRECTION */
@media screen and ( min-width: 600px){
    .resume__portfolio_references{
        flex-wrap: wrap;
    }
}
@media screen and ( max-width: 600px){
    .resume__portfolio_references{
        flex-direction: column;
    }
}
@media screen and ( min-width: 1250px){
    body > div > div:first-child{
        text-align: right;
    }
}
@media screen and ( max-width: 1250px){
    body > div > div:first-child{
        text-align: center;
    }
    body > div:first-child > div:first-child,
    body > div:first-child > div:last-child{
        text-align: center;
    }
    address > div{
        text-align: center;
    }
}
@media screen and ( max-width: 1250px){
    body > div{
        flex-wrap: wrap;
    }
}
/* FONT-SIZE */
@media screen and ( min-width: 800px){
    body > div > div:last-child{
        font-size: 18px;
    }
}
@media screen and ( max-width: 800px){
    body > div > div:last-child{
        font-size: 16px;
    }
}
@media screen and ( min-width: 800px ){
    .resume__work-experience > div > div:last-child,
    .resume__education > div > div:last-child,
    .resume__hobby > div > div:last-child{
        font-size: 18px;
    }
}
@media screen and ( min-width: 550px ) and ( max-width: 800px ){
    .resume__work-experience > div > div:last-child,
    .resume__education > div > div:last-child,
    .resume__hobby > div > div:last-child{
        font-size: 16px;
    }
}
@media screen and ( min-width: 550px){
    .resume__work-experience_workplace_organization,
    .resume__education_organization,
    .resume__hobby-period{
        font-size: 18px;
    }
    .resume__work-experience_workplace_organization_prefix{
        font-size: 16px;
    }
}
@media screen and ( min-width: 400px) and ( max-width: 550px){
    .resume__work-experience_workplace_organization,
    .resume__education_organization,
    .resume__hobby-period{
        font-size: 14px;
    }
    .resume__work-experience_workplace_organization_prefix{
        font-size: 12px;
    }
    .resume__work-experience > div > div:last-child,
    .resume__education > div > div:last-child,
    .resume__hobby > div > div:last-child{
        font-size: 14px;
    }
}
@media screen and ( max-width: 400px){
    .resume__work-experience > div > div:last-child,
    .resume__education > div > div:last-child,
    .resume__hobby > div > div:last-child{
        font-size: 12px;
    }
}
@media screen and ( min-width: 340px) and ( max-width: 400px){
    .resume__work-experience_workplace_organization,
    .resume__education_organization,
    .resume__hobby-period{
        font-size: 12px;
    }
    .resume__work-experience_workplace_organization_prefix{
        font-size: 10px;
    }
}
@media screen and ( max-width: 340px){
    .resume__work-experience_workplace_organization,
    .resume__education_organization,
    .resume__hobby-period{
        font-size: 10px;
    }
    .resume__work-experience_workplace_organization_prefix{
        font-size: 8px;
    }
}
@media screen and ( min-width: 750px){
    h2,
    .resume__portfolio_references a{
        font-size: 24px;
    }
}
@media screen and ( max-width: 750px){
    h2,
    .resume__portfolio_references a{
        font-size: 20px;
    }
}
/* WIDTH FOR DIVS */
@media screen and ( min-width: 600px){
    .resume__portfolio_references > div{
        width: 50%;
    }
}
@media screen and ( max-width: 600px){
    .resume__portfolio_references > div{
        width: 280px;
    }
}
@media screen and ( max-width: 330px){
    body > div{
        min-width: 330px;
    }
}
@media screen and ( min-width: 1800px){
    body > div > div:first-child, 
    body > div > div:last-child{
        width: 50%;
    }
    address,
    body > div> div:last-child > div{
        width: 750px; 
    }
}
@media screen and ( min-width: 1400px) and ( max-width: 1800px){
    body > div > div:first-child{
        width: 35%;
    }
    body > div > div:last-child{
        width: 65%;
    }
}
@media screen and ( min-width: 1250px) and ( max-width: 1400px){
    body > div > div:first-child{
        width: 30%;
    }
    body > div > div:last-child{
        width: 70%;
    }
}
@media screen and ( max-width: 1250px){
    body > div > div:first-child{
        width: 100%;
    }
    body > div > div:last-child{
        width: 100%;
    }
}
@media screen and ( min-width: 800px){
    .resume__work-experience > div > div:first-child,
    .resume__education > div > div:first-child,
    .resume__hobby > div > div:first-child{
        width: 40%;
    }
    .resume__work-experience > div > div:last-child,
    .resume__education > div > div:last-child,
    .resume__hobby > div > div:last-child{
        width: 60%;
    }
}
@media screen and ( max-width: 800px){
    .resume__work-experience > div > div:first-child,
    .resume__education > div > div:first-child,
    .resume__hobby > div > div:first-child{
        width: 50%;
    }
    .resume__work-experience > div > div:last-child,
    .resume__education > div > div:last-child,
    .resume__hobby > div > div:last-child{
        width: 50%;
    }
}
/* RUS - ENG FLAGS */
@media screen and ( min-width: 1600px){
    .resume__english-version{
        right: 500px;
    }
    .resume__russian-version{
        right: 500px;
    }
}
@media screen and ( min-width: 1400px) and ( max-width: 1600px){
    .resume__english-version{
        right: 400px;
    }
    .resume__russian-version{
        right: 400px;
    }
}
@media screen and ( min-width: 1250px) and ( max-width: 1400px){
    .resume__english-version{
        right: 320px;
    }
    .resume__russian-version{
        right: 320px;
    }
}
@media screen and ( max-width: 1250px){
    .resume__english-version{
        right: 15px;
    }
    .resume__russian-version{
        right: 15px;
    }
}